.meus-agendamentos-container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 8px; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 700px; 
    box-sizing: border-box;
    text-align: center;
}

.agendamento-item {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 15px;
    text-align: left;
    transition: box-shadow 0.3s ease;
}

.agendamento-item:hover {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.agendamento-item h3 {
    font-size: 1.3em;
    font-weight: 600;
    color: #005a9c;
    margin-top: 0;
    margin-bottom: 10px;
}

.agendamento-item p {
    font-size: 1em;
    color: #555;
    margin-bottom: 5px;
}

.agendamento-vazio {
    padding: 20px;
    font-size: 1.1em;
    color: #777;
    text-align: center;
}

.logout-link {
    position: absolute;
    top: 10px;      
    left: 10px;    
    z-index: 10;   
    color: #0078d4;
    cursor: pointer;
    text-decoration: underline;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    font-size: 1em;
  }
  
  .logout-link:hover {
    color: aqua;
    text-decoration: none;
  }